Repository microsoft/azure_arc: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/azure_jumpstart_arcbox.yml, .azure-pipelines/azure_jumpstart_arcbox_devops.yml, .azure-pipelines/azure_jumpstart_localbox.yml, azure-pipelines.yml

.azure-pipelines/azure_jumpstart_arcbox.yml:
  stages:
  - stage: ArcBox_deployment
    jobs:
    - job: Deploy
      timeoutInMinutes: 235
      pool:
        name: localbox-pool
      continueOnError: 'true'
      steps:
      - task: AzurePowerShell@5
        displayName: Deploy resource group
        inputs:
  ...

.azure-pipelines/azure_jumpstart_arcbox_devops.yml:
  schedules:
  - cron: 00 18 * * *
    displayName: Daily 18:00 UTC
    branches:
      include:
      - main
    always: true
  stages:
  - stage: ArcBox_deployment
    jobs:
    - job: Deploy
      timeoutInMinutes: 235
      pool:
        name: localbox-pool
      continueOnError: 'false'
      steps:
  ...

.azure-pipelines/azure_jumpstart_localbox.yml:
  schedules:
  - cron: 00 19 * * *
    displayName: Daily 19:00 UTC
    branches:
      include:
      - main
    always: true
  stages:
  - stage: LocalBox_deployment
    jobs:
    - job: Deploy
      timeoutInMinutes: 360
      pool:
        name: localbox-pool
      continueOnError: 'false'
      steps:
  ...

azure-pipelines.yml:
  stages:
  - stage: ArcBox_deployment
    jobs:
    - job: Deploy
      timeoutInMinutes: 235
      pool:
        name: arc-jumpstart-container-apps-pool
      continueOnError: 'true'
      steps:
      - task: BicepInstall@0
        displayName: Install Bicep
        inputs:
          version: 0.24.24
  ...

Update pipeline configurations to use 'main' branch instead of 'arcbox_pipeline' (#3253)
  .azure-pipelines/azure_jumpstart_arcbox_dataops.yml
  .azure-pipelines/azure_jumpstart_arcbox_devops.yml
  .azure-pipelines/azure_jumpstart_arcbox_itpro.yml
  .azure-pipelines/azure_jumpstart_localbox.yml
Due: none

Remove Azure CLI availability check and login steps from Send-PesterResult.ps1
  azure_jumpstart_arcbox/artifacts/integration_tests/scripts/Send-PesterResult.ps1
Due: .azure-pipelines/azure_jumpstart_arcbox.yml, .azure-pipelines/azure_jumpstart_arcbox_devops.yml, azure-pipelines.yml

Remove Azure CLI availability check and login steps from Send-PesterResult.ps1 (#3256)
  azure_jumpstart_arcbox/artifacts/integration_tests/scripts/Send-PesterResult.ps1
Due: .azure-pipelines/azure_jumpstart_arcbox.yml, .azure-pipelines/azure_jumpstart_arcbox_devops.yml, azure-pipelines.yml

Update Send-PesterResult.ps1
  azure_jumpstart_arcbox/artifacts/integration_tests/scripts/Send-PesterResult.ps1
Due: .azure-pipelines/azure_jumpstart_arcbox.yml, .azure-pipelines/azure_jumpstart_arcbox_devops.yml, azure-pipelines.yml

remove Longhorn
  azure_jumpstart_ag/artifacts/kubernetes/K3s/longhorn.yaml
Due: none

Update Bicep resources to use API version 2024-07-01 and set defaultOutboundAccess to false
  azure_jumpstart_arcbox/bicep/mgmt/mgmtArtifacts.bicep
Due: .azure-pipelines/azure_jumpstart_arcbox.yml, .azure-pipelines/azure_jumpstart_arcbox_devops.yml, azure-pipelines.yml

remove references to Longhorn
  azure_jumpstart_ag/artifacts/PowerShell/Bootstrap.ps1
  azure_jumpstart_ag/artifacts/PowerShell/Modules/contoso_hypermarket.psm1
Due: none

Arc Dashboard Deploy
  azure_jumpstart_arcbox/artifacts/ArcServersLogonScript.ps1
  azure_jumpstart_arcbox/artifacts/WinGet.ps1
Due: .azure-pipelines/azure_jumpstart_arcbox.yml, .azure-pipelines/azure_jumpstart_arcbox_devops.yml, azure-pipelines.yml

SQL MI Deployment changes
  azure_jumpstart_localbox/artifacts/PowerShell/Bootstrap.ps1
  azure_jumpstart_localbox/artifacts/PowerShell/Configure-SQLManagedInstance.ps1
  azure_jumpstart_localbox/artifacts/sqlmi.json
  azure_jumpstart_localbox/artifacts/sqlmi.parameters.json
Due: .azure-pipelines/azure_jumpstart_localbox.yml

Update packages.dsc.yml
  azure_jumpstart_localbox/artifacts/PowerShell/dsc/packages.dsc.yml
Due: .azure-pipelines/azure_jumpstart_localbox.yml

Update Configure-SQLManagedInstance.ps1
  azure_jumpstart_localbox/artifacts/PowerShell/Configure-SQLManagedInstance.ps1
Due: .azure-pipelines/azure_jumpstart_localbox.yml

Update VHDX download commands to use new source URLs
  azure_jumpstart_localbox/artifacts/PowerShell/New-LocalBoxCluster.ps1
Due: .azure-pipelines/azure_jumpstart_localbox.yml

Add conditional check for autoDeployClusterResource in LocalBox tests to account for manual deployments
  azure_jumpstart_localbox/artifacts/PowerShell/tests/common.tests.ps1
Due: .azure-pipelines/azure_jumpstart_localbox.yml

adding NAT gateway to arcbox
  azure_jumpstart_arcbox/bicep/mgmt/mgmtArtifacts.bicep
Due: .azure-pipelines/azure_jumpstart_arcbox.yml, .azure-pipelines/azure_jumpstart_arcbox_devops.yml, azure-pipelines.yml

add nat gateway to agora
  azure_jumpstart_ag/contoso_hypermarket/bicep/main.bicep
  azure_jumpstart_ag/contoso_hypermarket/bicep/mgmt/network.bicep
  azure_jumpstart_ag/contoso_motors/bicep/main.bicep
  azure_jumpstart_ag/contoso_motors/bicep/mgmt/network.bicep
  azure_jumpstart_ag/contoso_supermarket/bicep/main.bicep
  azure_jumpstart_ag/contoso_supermarket/bicep/mgmt/network.bicep
  azure_jumpstart_arcbox/bicep/main.bicep
Due: .azure-pipelines/azure_jumpstart_arcbox.yml, .azure-pipelines/azure_jumpstart_arcbox_devops.yml, azure-pipelines.yml

fix: correct formatting in client VM deployment parameters
  azure_jumpstart_ag/contoso_motors/bicep/main.bicep
Due: none

add: introduce NAT Gateway parameters and resources in Bicep templates
  azure_jumpstart_localbox/bicep/main.bicep
  azure_jumpstart_localbox/bicep/network/network.bicep
Due: .azure-pipelines/azure_jumpstart_localbox.yml

add: implement NAT Gateway configuration in ARM template
  azure_edge_iot_ops_jumpstart/acsa_fault_detection/azuredeploy.json
Due: none

add: introduce NAT Gateway parameters and resources in management artifacts
  azure_arc_sqlsrv_jumpstart/azure/windows/defender_sql/arm_template/azuredeploy.json
  azure_arc_sqlsrv_jumpstart/azure/windows/defender_sql/arm_template/mgmtArtifacts.json
Due: none

testing
  azure_jumpstart_ag/contoso_hypermarket/bicep/mgmt/network.bicep
  azure_jumpstart_ag/contoso_motors/bicep/mgmt/network.bicep
  azure_jumpstart_ag/contoso_supermarket/bicep/mgmt/network.bicep
Due: none

refactor: remove NAT Gateway parameters and related resources from ARM templates
  azure_arc_sqlsrv_jumpstart/azure/windows/defender_sql/arm_template/azuredeploy.json
  azure_arc_sqlsrv_jumpstart/azure/windows/defender_sql/arm_template/mgmtArtifacts.json
  azure_edge_iot_ops_jumpstart/acsa_fault_detection/azuredeploy.json
Due: none

refactor: streamline NAT Gateway configuration and improve subnet handling in Bicep templates
  azure_jumpstart_arcbox/bicep/mgmt/mgmtArtifacts.bicep
Due: .azure-pipelines/azure_jumpstart_arcbox.yml, .azure-pipelines/azure_jumpstart_arcbox_devops.yml, azure-pipelines.yml

refactor: update SKU from Basic to Standard for public IP resources in Bicep templates
  azure_jumpstart_ag/contoso_motors/bicep/clientVm/clientVm.bicep
  azure_jumpstart_ag/contoso_supermarket/bicep/clientVm/clientVm.bicep
  azure_jumpstart_arcbox/bicep/kubernetes/ubuntuRancher.bicep
  azure_jumpstart_arcbox/bicep/mgmt/addsVm.bicep
Due: .azure-pipelines/azure_jumpstart_arcbox.yml, .azure-pipelines/azure_jumpstart_arcbox_devops.yml, azure-pipelines.yml

refactor: update SKU from Basic to Standard for public IP resources in Bicep templates
  azure_jumpstart_ag/contoso_hypermarket/bicep/clientVm/clientVm.bicep
  azure_jumpstart_ag/contoso_hypermarket/bicep/kubernetes/ubuntuRancher.bicep
Due: none

refactor: simplify NAT Gateway configuration in Bicep templates
  azure_jumpstart_arcbox/bicep/mgmt/mgmtArtifacts.bicep
Due: .azure-pipelines/azure_jumpstart_arcbox.yml, .azure-pipelines/azure_jumpstart_arcbox_devops.yml, azure-pipelines.yml

PowerBI DSC
  azure_jumpstart_arcbox/artifacts/WinGet.ps1
  azure_jumpstart_arcbox/artifacts/dsc/itpro.dsc.yml
Due: .azure-pipelines/azure_jumpstart_arcbox.yml, .azure-pipelines/azure_jumpstart_arcbox_devops.yml, azure-pipelines.yml

Add version requirement to PowerShell scripts for AKS workload cluster and VM logical network
  azure_jumpstart_localbox/artifacts/PowerShell/Configure-AKSWorkloadCluster.ps1
  azure_jumpstart_localbox/artifacts/PowerShell/Configure-VMLogicalNetwork.ps1
Due: .azure-pipelines/azure_jumpstart_localbox.yml

Update PBI Deployment
  azure_jumpstart_arcbox/artifacts/WinGet.ps1
Due: .azure-pipelines/azure_jumpstart_arcbox.yml, .azure-pipelines/azure_jumpstart_arcbox_devops.yml, azure-pipelines.yml

refactor: update default NAT Gateway name to 'LocalBox-NatGateway' in Bicep templates
  azure_jumpstart_localbox/bicep/main.bicep
Due: .azure-pipelines/azure_jumpstart_localbox.yml

Update VHDX download URLs in New-LocalBoxCluster.ps1
  azure_jumpstart_localbox/artifacts/PowerShell/New-LocalBoxCluster.ps1
Due: .azure-pipelines/azure_jumpstart_localbox.yml

Update VHDX download URLs to use preprod sources in New-LocalBoxCluster.ps1
  azure_jumpstart_localbox/artifacts/PowerShell/New-LocalBoxCluster.ps1
Due: .azure-pipelines/azure_jumpstart_localbox.yml

Add Azure login step to WinGet provisioning script
  azure_jumpstart_localbox/artifacts/PowerShell/WinGet.ps1
Due: .azure-pipelines/azure_jumpstart_localbox.yml

Update VHDX download URLs to use production sources in New-LocalBoxCluster.ps1
  azure_jumpstart_localbox/artifacts/PowerShell/New-LocalBoxCluster.ps1
Due: .azure-pipelines/azure_jumpstart_localbox.yml

Update VHDX download source to use new Azure Blob URLs in New-LocalBoxCluster.ps1
  azure_jumpstart_localbox/artifacts/PowerShell/New-LocalBoxCluster.ps1
Due: .azure-pipelines/azure_jumpstart_localbox.yml

Update VHDX download source to use new URLs for AzLocal2507 in New-LocalBoxCluster.ps1
  azure_jumpstart_localbox/artifacts/PowerShell/New-LocalBoxCluster.ps1
Due: .azure-pipelines/azure_jumpstart_localbox.yml

Fix null reference in public IP output for client VM and host configurations
  azure_jumpstart_arcbox/bicep/clientVm/clientVm.bicep
  azure_jumpstart_localbox/bicep/host/host.bicep
Due: .azure-pipelines/azure_jumpstart_arcbox.yml, .azure-pipelines/azure_jumpstart_arcbox_devops.yml, .azure-pipelines/azure_jumpstart_localbox.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/azure_jumpstart_arcbox.yml: any of: azure_jumpstart_arcbox
  .azure-pipelines/azure_jumpstart_arcbox_devops.yml: any of: azure_jumpstart_arcbox
  .azure-pipelines/azure_jumpstart_localbox.yml: any of: azure_jumpstart_localbox
  azure-pipelines.yml: any of: azure_jumpstart_arcbox
