Repository microsoft/azure_arc: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/azure_jumpstart_arcbox.yml, .azure-pipelines/azure_jumpstart_arcbox_devops.yml, .azure-pipelines/azure_jumpstart_localbox.yml, azure-pipelines.yml

.azure-pipelines/azure_jumpstart_arcbox.yml:
  stages:
  - stage: ArcBox_deployment
    jobs:
    - job: Deploy
      timeoutInMinutes: 235
      pool:
        name: localbox-pool
      continueOnError: 'true'
      steps:
      - task: AzurePowerShell@5
        displayName: Deploy resource group
        inputs:
  ...

.azure-pipelines/azure_jumpstart_arcbox_devops.yml:
  schedules:
  - cron: 00 18 * * *
    displayName: Daily 18:00 UTC
    branches:
      include:
      - main
    always: true
  stages:
  - stage: ArcBox_deployment
    jobs:
    - job: Deploy
      timeoutInMinutes: 235
      pool:
        name: localbox-pool
      continueOnError: 'false'
      steps:
  ...

.azure-pipelines/azure_jumpstart_localbox.yml:
  schedules:
  - cron: 00 19 * * *
    displayName: Daily 19:00 UTC
    branches:
      include:
      - main
    always: true
  stages:
  - stage: LocalBox_deployment
    jobs:
    - job: Deploy
      timeoutInMinutes: 360
      pool:
        name: localbox-pool
      continueOnError: 'false'
      steps:
  ...

azure-pipelines.yml:
  stages:
  - stage: ArcBox_deployment
    jobs:
    - job: Deploy
      timeoutInMinutes: 235
      pool:
        name: arc-jumpstart-container-apps-pool
      continueOnError: 'true'
      steps:
      - task: BicepInstall@0
        displayName: Install Bicep
        inputs:
          version: 0.24.24
  ...

Add SSH posture control policies for Windows, and include machine configuration prerequisite policy
  azure_jumpstart_arcbox/bicep/mgmt/policyAzureArc.bicep
Due: .azure-pipelines/azure_jumpstart_arcbox.yml, .azure-pipelines/azure_jumpstart_arcbox_devops.yml, azure-pipelines.yml

Trigger Azure Policy compliance scan in ArcServersLogonScript
  azure_jumpstart_arcbox/artifacts/ArcServersLogonScript.ps1
Due: .azure-pipelines/azure_jumpstart_arcbox.yml, .azure-pipelines/azure_jumpstart_arcbox_devops.yml, azure-pipelines.yml

Update parameter descriptions and defaults in mgmtArtifacts.bicep
  azure_jumpstart_arcbox/bicep/mgmt/mgmtArtifacts.bicep
Due: .azure-pipelines/azure_jumpstart_arcbox.yml, .azure-pipelines/azure_jumpstart_arcbox_devops.yml, azure-pipelines.yml

Exclude NAT gateway deployment in ITPro (#3295)
  azure_jumpstart_arcbox/bicep/mgmt/mgmtArtifacts.bicep
Due: .azure-pipelines/azure_jumpstart_arcbox.yml, .azure-pipelines/azure_jumpstart_arcbox_devops.yml, azure-pipelines.yml

Update Send-PesterResult.ps1 to retrieve VM metadata and resource group dynamically
  azure_jumpstart_arcbox/artifacts/integration_tests/scripts/Send-PesterResult.ps1
  azure_jumpstart_localbox/artifacts/PowerShell/integration_tests/scripts/Send-PesterResult.ps1
Due: .azure-pipelines/azure_jumpstart_arcbox.yml, .azure-pipelines/azure_jumpstart_arcbox_devops.yml, .azure-pipelines/azure_jumpstart_localbox.yml, azure-pipelines.yml

SQLMI on Azure Local (#3277)
  azure_jumpstart_localbox/artifacts/PowerShell/Bootstrap.ps1
  azure_jumpstart_localbox/artifacts/PowerShell/Configure-SQLManagedInstance.ps1
  azure_jumpstart_localbox/artifacts/PowerShell/dsc/packages.dsc.yml
  azure_jumpstart_localbox/artifacts/sqlmi.json
  azure_jumpstart_localbox/artifacts/sqlmi.parameters.json
Due: .azure-pipelines/azure_jumpstart_localbox.yml

ArcBox - Windows SSH Posture (#3293)
  azure_jumpstart_arcbox/artifacts/ArcServersLogonScript.ps1
  azure_jumpstart_arcbox/artifacts/integration_tests/scripts/Send-PesterResult.ps1
  azure_jumpstart_arcbox/bicep/clientVm/clientVm.bicep
  azure_jumpstart_arcbox/bicep/mgmt/policyAzureArc.bicep
  azure_jumpstart_localbox/artifacts/PowerShell/integration_tests/scripts/Send-PesterResult.ps1
  azure_jumpstart_localbox/bicep/host/host.bicep
Due: .azure-pipelines/azure_jumpstart_arcbox.yml, .azure-pipelines/azure_jumpstart_arcbox_devops.yml, .azure-pipelines/azure_jumpstart_localbox.yml, azure-pipelines.yml

Azure Arc-enabled data services - Aug release
  arc_data_services/charts/arcdataservices/templates/sqlmi_crd.yaml
  arc_data_services/charts/arcdataservices/values.yaml
  arc_data_services/deploy/scripts/pull-and-push-arc-data-services-images-to-private-registry.py
  arc_data_services/deploy/yaml/bootstrapper-unified.yaml
  arc_data_services/deploy/yaml/bootstrapper.yaml
  arc_data_services/deploy/yaml/data-controller.yaml
  arc_data_services/deploy/yaml/uninstall.yaml
  arc_data_services/test/launcher/base/kustomization.yaml
  arc_data_services/upgrade/yaml/bootstrapper-upgrade-job.yaml
  arc_data_services/upgrade/yaml/data-controller-upgrade.yaml
  arc_data_services/upgrade/yaml/request_body/request-body-after.yaml
  arc_data_services/upgrade/yaml/request_body/request-body-before.yaml
  archive/azure_arc_data_jumpstart/kubeadm/azure/ARM/artifacts/DataServicesLogonScript.ps1
  archive/azure_arc_data_jumpstart/microk8s/azure/arm_template/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/aks/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/aks/DR/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/aks/Migration/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/eks/terraform/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/gke/terraform/artifacts/DataServicesLogonScript.ps1
  azure_jumpstart_arcbox/artifacts/DataOpsLogonScript.ps1
Due: .azure-pipelines/azure_jumpstart_arcbox.yml, .azure-pipelines/azure_jumpstart_arcbox_devops.yml, azure-pipelines.yml

Update VHDX download source to AzLocal2508 in New-LocalBoxCluster.ps1
  azure_jumpstart_localbox/artifacts/PowerShell/New-LocalBoxCluster.ps1
Due: .azure-pipelines/azure_jumpstart_localbox.yml

Bugfix - typo
  azure_jumpstart_localbox/artifacts/PowerShell/New-LocalBoxCluster.ps1
Due: .azure-pipelines/azure_jumpstart_localbox.yml

Add support for DR NAT Gateway and associated resources
  azure_jumpstart_arcbox/bicep/mgmt/mgmtArtifacts.bicep
Due: .azure-pipelines/azure_jumpstart_arcbox.yml, .azure-pipelines/azure_jumpstart_arcbox_devops.yml, azure-pipelines.yml

Add support for DR NAT Gateway and associated resources (#3306)
  azure_jumpstart_arcbox/bicep/mgmt/mgmtArtifacts.bicep
Due: .azure-pipelines/azure_jumpstart_arcbox.yml, .azure-pipelines/azure_jumpstart_arcbox_devops.yml, azure-pipelines.yml

Update main.parameters.json
  azure_jumpstart_ag/contoso_motors/bicep/main.parameters.json
Due: none

Azure Arc-enabled data services - Aug release (#3303)
  arc_data_services/charts/arcdataservices/templates/sqlmi_crd.yaml
  arc_data_services/charts/arcdataservices/values.yaml
  arc_data_services/deploy/scripts/pull-and-push-arc-data-services-images-to-private-registry.py
  arc_data_services/deploy/yaml/bootstrapper-unified.yaml
  arc_data_services/deploy/yaml/bootstrapper.yaml
  arc_data_services/deploy/yaml/data-controller.yaml
  arc_data_services/deploy/yaml/uninstall.yaml
  arc_data_services/test/launcher/base/kustomization.yaml
  arc_data_services/upgrade/yaml/bootstrapper-upgrade-job.yaml
  arc_data_services/upgrade/yaml/data-controller-upgrade.yaml
  arc_data_services/upgrade/yaml/request_body/request-body-after.yaml
  arc_data_services/upgrade/yaml/request_body/request-body-before.yaml
  archive/azure_arc_data_jumpstart/kubeadm/azure/ARM/artifacts/DataServicesLogonScript.ps1
  archive/azure_arc_data_jumpstart/microk8s/azure/arm_template/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/aks/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/aks/DR/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/aks/Migration/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/eks/terraform/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/gke/terraform/artifacts/DataServicesLogonScript.ps1
  azure_jumpstart_arcbox/artifacts/DataOpsLogonScript.ps1
Due: .azure-pipelines/azure_jumpstart_arcbox.yml, .azure-pipelines/azure_jumpstart_arcbox_devops.yml, azure-pipelines.yml

Azure Arc-enabled data services - Sept release
  arc_data_services/charts/arcdataservices/values.yaml
  arc_data_services/deploy/scripts/pull-and-push-arc-data-services-images-to-private-registry.py
  arc_data_services/deploy/yaml/bootstrapper-unified.yaml
  arc_data_services/deploy/yaml/bootstrapper.yaml
  arc_data_services/deploy/yaml/data-controller.yaml
  arc_data_services/deploy/yaml/uninstall.yaml
  arc_data_services/test/launcher/base/kustomization.yaml
  arc_data_services/upgrade/yaml/bootstrapper-upgrade-job.yaml
  arc_data_services/upgrade/yaml/data-controller-upgrade.yaml
  arc_data_services/upgrade/yaml/request_body/request-body-after.yaml
  arc_data_services/upgrade/yaml/request_body/request-body-before.yaml
  archive/azure_arc_data_jumpstart/kubeadm/azure/ARM/artifacts/DataServicesLogonScript.ps1
  archive/azure_arc_data_jumpstart/microk8s/azure/arm_template/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/aks/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/aks/DR/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/aks/Migration/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/eks/terraform/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/gke/terraform/artifacts/DataServicesLogonScript.ps1
  azure_jumpstart_arcbox/artifacts/DataOpsLogonScript.ps1
Due: .azure-pipelines/azure_jumpstart_arcbox.yml, .azure-pipelines/azure_jumpstart_arcbox_devops.yml, azure-pipelines.yml

Update host.bicep
  azure_jumpstart_localbox/bicep/host/host.bicep
Due: .azure-pipelines/azure_jumpstart_localbox.yml

Update VHDX download source to AzLocal2509 in New-LocalBoxCluster.ps1
  azure_jumpstart_localbox/artifacts/PowerShell/New-LocalBoxCluster.ps1
Due: .azure-pipelines/azure_jumpstart_localbox.yml

Update AKS managed cluster API version and enable user-assigned NAT Gateway
  azure_jumpstart_arcbox/bicep/kubernetes/aks.bicep
Due: .azure-pipelines/azure_jumpstart_arcbox.yml, .azure-pipelines/azure_jumpstart_arcbox_devops.yml, azure-pipelines.yml

Update AKS managed cluster API version and enable user-assigned NAT Gateway
  azure_jumpstart_ag/contoso_supermarket/bicep/kubernetes/aks.bicep
Due: none

Add support for user-assigned NAT Gateway in DR cluster configuration
  azure_jumpstart_arcbox/bicep/kubernetes/aks.bicep
Due: .azure-pipelines/azure_jumpstart_arcbox.yml, .azure-pipelines/azure_jumpstart_arcbox_devops.yml, azure-pipelines.yml

Azure Arc-enabled data services - Sept release (#3313)
  arc_data_services/charts/arcdataservices/values.yaml
  arc_data_services/deploy/scripts/pull-and-push-arc-data-services-images-to-private-registry.py
  arc_data_services/deploy/yaml/bootstrapper-unified.yaml
  arc_data_services/deploy/yaml/bootstrapper.yaml
  arc_data_services/deploy/yaml/data-controller.yaml
  arc_data_services/deploy/yaml/uninstall.yaml
  arc_data_services/test/launcher/base/kustomization.yaml
  arc_data_services/upgrade/yaml/bootstrapper-upgrade-job.yaml
  arc_data_services/upgrade/yaml/data-controller-upgrade.yaml
  arc_data_services/upgrade/yaml/request_body/request-body-after.yaml
  arc_data_services/upgrade/yaml/request_body/request-body-before.yaml
  archive/azure_arc_data_jumpstart/kubeadm/azure/ARM/artifacts/DataServicesLogonScript.ps1
  archive/azure_arc_data_jumpstart/microk8s/azure/arm_template/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/aks/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/aks/DR/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/aks/Migration/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/eks/terraform/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/gke/terraform/artifacts/DataServicesLogonScript.ps1
  azure_jumpstart_arcbox/artifacts/DataOpsLogonScript.ps1
Due: .azure-pipelines/azure_jumpstart_arcbox.yml, .azure-pipelines/azure_jumpstart_arcbox_devops.yml, azure-pipelines.yml

Update host.bicep (#3314)
  azure_jumpstart_localbox/bicep/host/host.bicep
Due: .azure-pipelines/azure_jumpstart_localbox.yml

Update VHDX download URLs in New-LocalBoxCluster.ps1
  azure_jumpstart_localbox/artifacts/PowerShell/New-LocalBoxCluster.ps1
Due: .azure-pipelines/azure_jumpstart_localbox.yml

Add 'allowSharedKeyAccess' property to storage account configuration
  azure_jumpstart_localbox/artifacts/azlocal.json
Due: .azure-pipelines/azure_jumpstart_localbox.yml

Update PIP from Basic to Standard - ARM templates
  archive/azure_arc_data_jumpstart/microk8s/azure/arm_template/clientVm.json
  archive/azure_arc_data_jumpstart/microk8s/azure/arm_template/ubuntuMicrok8s.json
  azure_arc_app_services_jumpstart/aks/ARM/clientVm.json
  azure_arc_data_jumpstart/aks/ARM/clientVm.json
  azure_arc_data_jumpstart/aks/DR/ARM/clientVm.json
  azure_arc_data_jumpstart/aks/Migration/ARM/clientVm.json
  azure_arc_data_jumpstart/aro/ARM/clientVm.json
  azure_arc_k8s_jumpstart/aks_hybrid/aks_edge_essentials_single/arm_template/azuredeploy.json
  azure_arc_k8s_jumpstart/aks_hybrid/aks_edge_essentials_single_akri/arm_template/azuredeploy.json
  azure_arc_k8s_jumpstart/rancher_k3s/azure/arm_template/azuredeploy.json
  azure_arc_servers_jumpstart/azure/linux/arm_template/azuredeploy.json
  azure_arc_servers_jumpstart/azure/windows/arm_template/azuredeploy.json
  azure_arc_servers_jumpstart/proxy/ARM/cloudDeploy.json
  azure_arc_sqlsrv_jumpstart/azure/windows/archive/vanilla/arm_template/azuredeploy.json
  azure_edge_iot_ops_jumpstart/acsa_fault_detection/azuredeploy.json
Due: none

Update PIP from Basic to Standard - Bicep
  azure_arc_k8s_jumpstart/aks_hybrid/aks_edge_essentials_full/bicep_template/clientVm/clientVm.bicep
  azure_arc_k8s_jumpstart/aks_hybrid/aks_edge_essentials_full_akri/bicep_template/clientVm/clientVm.bicep
  azure_arc_k8s_jumpstart/aks_hybrid/aks_edge_essentials_single_vi/bicep/clientVm.bicep
  azure_arc_servers_jumpstart/esu/bicep/host/host.bicep
Due: none

Update PIP from Basic to Standard - ARM templates2
  azure_arc_ml_jumpstart/aks/arm_template/clientVm.json
  azure_arc_sqlsrv_jumpstart/azure/windows/defender_sql/arm_template/clientVm.json
  azure_jumpstart_arcbox/ARM/azuredeploy.json
  azure_jumpstart_arcbox/ARM/kubernetes/ubuntuRancher.json
  azure_jumpstart_arcbox/ARM/mgmt/addsVm.json
Due: .azure-pipelines/azure_jumpstart_arcbox.yml, .azure-pipelines/azure_jumpstart_arcbox_devops.yml, azure-pipelines.yml

default pip to standard
  archive/azure_arc_data_jumpstart/microk8s/azure/arm_template/clientVm.json
  archive/azure_arc_data_jumpstart/microk8s/azure/arm_template/ubuntuMicrok8s.json
  azure_arc_app_services_jumpstart/aks/ARM/clientVm.json
  azure_arc_data_jumpstart/aks/ARM/clientVm.json
  azure_arc_data_jumpstart/aks/DR/ARM/clientVm.json
  azure_arc_data_jumpstart/aks/Migration/ARM/clientVm.json
  azure_arc_data_jumpstart/aro/ARM/clientVm.json
  azure_arc_k8s_jumpstart/rancher_k3s/azure/arm_template/azuredeploy.json
  azure_arc_sqlsrv_jumpstart/azure/windows/archive/vanilla/arm_template/azuredeploy.json
Due: none

default pip to standard
  azure_arc_k8s_jumpstart/aks_hybrid/aks_edge_essentials_single/arm_template/azuredeploy.json
  azure_arc_k8s_jumpstart/aks_hybrid/aks_edge_essentials_single_akri/arm_template/azuredeploy.json
  azure_arc_servers_jumpstart/azure/linux/arm_template/azuredeploy.json
  azure_arc_servers_jumpstart/azure/windows/arm_template/azuredeploy.json
  azure_arc_servers_jumpstart/proxy/ARM/cloudDeploy.json
  azure_edge_iot_ops_jumpstart/acsa_fault_detection/azuredeploy.json
Due: none

Azure Basic IPs upgrade to standard (#3324)
  archive/azure_arc_data_jumpstart/microk8s/azure/arm_template/clientVm.json
  archive/azure_arc_data_jumpstart/microk8s/azure/arm_template/ubuntuMicrok8s.json
  azure_arc_app_services_jumpstart/aks/ARM/clientVm.json
  azure_arc_data_jumpstart/aks/ARM/clientVm.json
  azure_arc_data_jumpstart/aks/DR/ARM/clientVm.json
  azure_arc_data_jumpstart/aks/Migration/ARM/clientVm.json
  azure_arc_data_jumpstart/aro/ARM/clientVm.json
  azure_arc_k8s_jumpstart/aks_hybrid/aks_edge_essentials_full/bicep_template/clientVm/clientVm.bicep
  azure_arc_k8s_jumpstart/aks_hybrid/aks_edge_essentials_full_akri/bicep_template/clientVm/clientVm.bicep
  azure_arc_k8s_jumpstart/aks_hybrid/aks_edge_essentials_single/arm_template/azuredeploy.json
  azure_arc_k8s_jumpstart/aks_hybrid/aks_edge_essentials_single_akri/arm_template/azuredeploy.json
  azure_arc_k8s_jumpstart/aks_hybrid/aks_edge_essentials_single_vi/bicep/clientVm.bicep
  azure_arc_k8s_jumpstart/rancher_k3s/azure/arm_template/azuredeploy.json
  azure_arc_ml_jumpstart/aks/arm_template/clientVm.json
  azure_arc_servers_jumpstart/azure/linux/arm_template/azuredeploy.json
  azure_arc_servers_jumpstart/azure/windows/arm_template/azuredeploy.json
  azure_arc_servers_jumpstart/esu/bicep/host/host.bicep
  azure_arc_servers_jumpstart/proxy/ARM/cloudDeploy.json
  azure_arc_sqlsrv_jumpstart/azure/windows/archive/vanilla/arm_template/azuredeploy.json
  azure_arc_sqlsrv_jumpstart/azure/windows/defender_sql/arm_template/clientVm.json
  azure_edge_iot_ops_jumpstart/acsa_fault_detection/azuredeploy.json
  azure_jumpstart_arcbox/ARM/azuredeploy.json
  azure_jumpstart_arcbox/ARM/kubernetes/ubuntuRancher.json
  azure_jumpstart_arcbox/ARM/mgmt/addsVm.json
Due: .azure-pipelines/azure_jumpstart_arcbox.yml, .azure-pipelines/azure_jumpstart_arcbox_devops.yml, azure-pipelines.yml

LocalBox 2509 solution update (#3320)
  azure_jumpstart_localbox/artifacts/PowerShell/New-LocalBoxCluster.ps1
  azure_jumpstart_localbox/artifacts/azlocal.json
Due: .azure-pipelines/azure_jumpstart_localbox.yml

Pin WinGet PowerShell modules to version 1.11.460 to avoid known issue
  azure_jumpstart_ag/artifacts/PowerShell/Winget.ps1
  azure_jumpstart_arcbox/artifacts/WinGet.ps1
  azure_jumpstart_localbox/artifacts/PowerShell/WinGet.ps1
Due: .azure-pipelines/azure_jumpstart_arcbox.yml, .azure-pipelines/azure_jumpstart_arcbox_devops.yml, .azure-pipelines/azure_jumpstart_localbox.yml, azure-pipelines.yml

Pin WinGet PowerShell modules to version 1.11.460 to avoid known issue (#3329)
  azure_jumpstart_ag/artifacts/PowerShell/Winget.ps1
  azure_jumpstart_arcbox/artifacts/WinGet.ps1
  azure_jumpstart_localbox/artifacts/PowerShell/WinGet.ps1
Due: .azure-pipelines/azure_jumpstart_arcbox.yml, .azure-pipelines/azure_jumpstart_arcbox_devops.yml, .azure-pipelines/azure_jumpstart_localbox.yml, azure-pipelines.yml

Oct release updates
  arc_data_services/charts/arcdataservices/values.yaml
  arc_data_services/deploy/scripts/pull-and-push-arc-data-services-images-to-private-registry.py
  arc_data_services/deploy/yaml/bootstrapper-unified.yaml
  arc_data_services/deploy/yaml/bootstrapper.yaml
  arc_data_services/deploy/yaml/data-controller.yaml
  arc_data_services/deploy/yaml/uninstall.yaml
  arc_data_services/test/launcher/base/kustomization.yaml
  arc_data_services/upgrade/yaml/bootstrapper-upgrade-job.yaml
  arc_data_services/upgrade/yaml/data-controller-upgrade.yaml
  arc_data_services/upgrade/yaml/request_body/request-body-after.yaml
  arc_data_services/upgrade/yaml/request_body/request-body-before.yaml
  archive/azure_arc_data_jumpstart/kubeadm/azure/ARM/artifacts/DataServicesLogonScript.ps1
  archive/azure_arc_data_jumpstart/microk8s/azure/arm_template/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/aks/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/aks/DR/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/aks/Migration/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/eks/terraform/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/gke/terraform/artifacts/DataServicesLogonScript.ps1
  azure_jumpstart_arcbox/artifacts/DataOpsLogonScript.ps1
Due: .azure-pipelines/azure_jumpstart_arcbox.yml, .azure-pipelines/azure_jumpstart_arcbox_devops.yml, azure-pipelines.yml

Oct release updates (#3331)
  arc_data_services/charts/arcdataservices/values.yaml
  arc_data_services/deploy/scripts/pull-and-push-arc-data-services-images-to-private-registry.py
  arc_data_services/deploy/yaml/bootstrapper-unified.yaml
  arc_data_services/deploy/yaml/bootstrapper.yaml
  arc_data_services/deploy/yaml/data-controller.yaml
  arc_data_services/deploy/yaml/uninstall.yaml
  arc_data_services/test/launcher/base/kustomization.yaml
  arc_data_services/upgrade/yaml/bootstrapper-upgrade-job.yaml
  arc_data_services/upgrade/yaml/data-controller-upgrade.yaml
  arc_data_services/upgrade/yaml/request_body/request-body-after.yaml
  arc_data_services/upgrade/yaml/request_body/request-body-before.yaml
  archive/azure_arc_data_jumpstart/kubeadm/azure/ARM/artifacts/DataServicesLogonScript.ps1
  archive/azure_arc_data_jumpstart/microk8s/azure/arm_template/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/aks/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/aks/DR/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/aks/Migration/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/eks/terraform/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/gke/terraform/artifacts/DataServicesLogonScript.ps1
  azure_jumpstart_arcbox/artifacts/DataOpsLogonScript.ps1
Due: .azure-pipelines/azure_jumpstart_arcbox.yml, .azure-pipelines/azure_jumpstart_arcbox_devops.yml, azure-pipelines.yml

Pin Az.Accounts module to version 5.3.1 to resolve compatibility issues
  azure_jumpstart_arcbox/artifacts/Bootstrap.ps1
Due: .azure-pipelines/azure_jumpstart_arcbox.yml, .azure-pipelines/azure_jumpstart_arcbox_devops.yml, azure-pipelines.yml

Pin Az.Accounts module to version 5.3.1 after other modules to avoid version conflicts
  azure_jumpstart_arcbox/artifacts/Bootstrap.ps1
Due: .azure-pipelines/azure_jumpstart_arcbox.yml, .azure-pipelines/azure_jumpstart_arcbox_devops.yml, azure-pipelines.yml

Add script for installing SQL Server - Azure Arc resources with dependency checks
  azure_jumpstart_arcbox/artifacts/installArcAgentSQLUser.ps1
Due: .azure-pipelines/azure_jumpstart_arcbox.yml, .azure-pipelines/azure_jumpstart_arcbox_devops.yml, azure-pipelines.yml

Pin Az.Accounts and Az.KeyVault modules after other modules to avoid version conflicts
  azure_jumpstart_arcbox/artifacts/Bootstrap.ps1
Due: .azure-pipelines/azure_jumpstart_arcbox.yml, .azure-pipelines/azure_jumpstart_arcbox_devops.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/azure_jumpstart_arcbox.yml: any of: azure_jumpstart_arcbox
  .azure-pipelines/azure_jumpstart_arcbox_devops.yml: any of: azure_jumpstart_arcbox
  .azure-pipelines/azure_jumpstart_localbox.yml: any of: azure_jumpstart_localbox
  azure-pipelines.yml: any of: azure_jumpstart_arcbox
