Repository microsoft/azure_arc: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/azure_jumpstart_arcbox.yml, .azure-pipelines/azure_jumpstart_arcbox_devops.yml, .azure-pipelines/azure_jumpstart_arcbox_itpro.yml, .azure-pipelines/azure_jumpstart_localbox.yml, azure-pipelines.yml

.azure-pipelines/azure_jumpstart_arcbox.yml:
  stages:
  - stage: ArcBox_deployment
    jobs:
    - job: Deploy
      timeoutInMinutes: 235
      pool:
        name: localbox-pool
      continueOnError: 'true'
      steps:
      - task: AzurePowerShell@5
        displayName: Deploy resource group
        inputs:
  ...

.azure-pipelines/azure_jumpstart_arcbox_devops.yml:
  schedules:
  - cron: 00 18 * * *
    displayName: Daily 18:00 UTC
    branches:
      include:
      - main
    always: true
  stages:
  - stage: ArcBox_deployment
    jobs:
    - job: Deploy
      timeoutInMinutes: 235
      pool:
        name: localbox-pool
      continueOnError: 'false'
      steps:
  ...

.azure-pipelines/azure_jumpstart_arcbox_itpro.yml:
  schedules:
  - cron: 00 18 * * *
    displayName: Daily 18:00 UTC
    branches:
      include:
      - main
    always: true
  stages:
  - stage: ArcBox_deployment
    jobs:
    - job: Deploy
      timeoutInMinutes: 235
      pool:
        vmImage: ubuntu-latest
      continueOnError: 'false'
      steps:
  ...

.azure-pipelines/azure_jumpstart_localbox.yml:
  schedules:
  - cron: 00 19 * * *
    displayName: Daily 19:00 UTC
    branches:
      include:
      - main
    always: true
  stages:
  - stage: LocalBox_deployment
    jobs:
    - job: Deploy
      timeoutInMinutes: 360
      pool:
        name: localbox-pool
      continueOnError: 'false'
      steps:
  ...

azure-pipelines.yml:
  stages:
  - stage: ArcBox_deployment
    jobs:
    - job: Deploy
      timeoutInMinutes: 235
      pool:
        name: arc-jumpstart-container-apps-pool
      continueOnError: 'true'
      steps:
      - task: BicepInstall@0
        displayName: Install Bicep
        inputs:
          version: 0.24.24
  ...

ArcBox - issue 3359 (#3360)
  azure_jumpstart_arcbox/artifacts/Bootstrap.ps1
  azure_jumpstart_arcbox/artifacts/installArcAgentSQLUser.ps1
Due: .azure-pipelines/azure_jumpstart_arcbox.yml, .azure-pipelines/azure_jumpstart_arcbox_devops.yml, .azure-pipelines/azure_jumpstart_arcbox_itpro.yml, azure-pipelines.yml

Update Bootstrap.ps1 to install Az.Compute and Az.Resources modules with specific versions
  azure_jumpstart_arcbox/artifacts/Bootstrap.ps1
Due: .azure-pipelines/azure_jumpstart_arcbox.yml, .azure-pipelines/azure_jumpstart_arcbox_devops.yml, .azure-pipelines/azure_jumpstart_arcbox_itpro.yml, azure-pipelines.yml

Add Az.Storage module installation and import to Bootstrap.ps1
  azure_jumpstart_arcbox/artifacts/Bootstrap.ps1
Due: .azure-pipelines/azure_jumpstart_arcbox.yml, .azure-pipelines/azure_jumpstart_arcbox_devops.yml, .azure-pipelines/azure_jumpstart_arcbox_itpro.yml, azure-pipelines.yml

Resolve issue 3359 (#3361)
  azure_jumpstart_arcbox/artifacts/Bootstrap.ps1
Due: .azure-pipelines/azure_jumpstart_arcbox.yml, .azure-pipelines/azure_jumpstart_arcbox_devops.yml, .azure-pipelines/azure_jumpstart_arcbox_itpro.yml, azure-pipelines.yml

Refactor Bootstrap.ps1 to install Az modules in a loop and add Microsoft.PowerShell.SecretManagement with specific version
  azure_jumpstart_arcbox/artifacts/Bootstrap.ps1
Due: .azure-pipelines/azure_jumpstart_arcbox.yml, .azure-pipelines/azure_jumpstart_arcbox_devops.yml, .azure-pipelines/azure_jumpstart_arcbox_itpro.yml, azure-pipelines.yml

Increase timeout duration in Wait-LocalBoxDeployment.ps1 from 6 hours to 8 hours
  azure_jumpstart_localbox/artifacts/PowerShell/integration_tests/scripts/Wait-LocalBoxDeployment.ps1
Due: .azure-pipelines/azure_jumpstart_localbox.yml

Merge branch 'main' of https://github.com/microsoft/azure_arc into issue_3359_az_accounts
  azure_jumpstart_arcbox/artifacts/Bootstrap.ps1
Due: .azure-pipelines/azure_jumpstart_arcbox.yml, .azure-pipelines/azure_jumpstart_arcbox_devops.yml, .azure-pipelines/azure_jumpstart_arcbox_itpro.yml, azure-pipelines.yml

Refactor module installation in Bootstrap.ps1 to pin Az.Accounts and Az.KeyVault versions, and add Microsoft.PowerShell.SecretManagement module
  azure_jumpstart_arcbox/artifacts/Bootstrap.ps1
Due: .azure-pipelines/azure_jumpstart_arcbox.yml, .azure-pipelines/azure_jumpstart_arcbox_devops.yml, .azure-pipelines/azure_jumpstart_arcbox_itpro.yml, azure-pipelines.yml

Add Connect-AzAccount command to Bootstrap.ps1 for identity authentication
  azure_jumpstart_arcbox/artifacts/Bootstrap.ps1
Due: .azure-pipelines/azure_jumpstart_arcbox.yml, .azure-pipelines/azure_jumpstart_arcbox_devops.yml, .azure-pipelines/azure_jumpstart_arcbox_itpro.yml, azure-pipelines.yml

ArcBox - Issue 3359 - additional enhancements (#3362)
  azure_jumpstart_arcbox/artifacts/Bootstrap.ps1
  azure_jumpstart_localbox/artifacts/PowerShell/integration_tests/scripts/Wait-LocalBoxDeployment.ps1
Due: .azure-pipelines/azure_jumpstart_arcbox.yml, .azure-pipelines/azure_jumpstart_arcbox_devops.yml, .azure-pipelines/azure_jumpstart_arcbox_itpro.yml, .azure-pipelines/azure_jumpstart_localbox.yml, azure-pipelines.yml

Update VHD download links for 2601
  azure_jumpstart_localbox/artifacts/PowerShell/New-LocalBoxCluster.ps1
Due: .azure-pipelines/azure_jumpstart_localbox.yml

Pin Az module versions to avoid conflicts and ensure correct loading
  azure_jumpstart_localbox/artifacts/PowerShell/Bootstrap.ps1
Due: .azure-pipelines/azure_jumpstart_localbox.yml

Add delay before validation to allow time for registering hardware inventory
  azure_jumpstart_localbox/artifacts/PowerShell/New-LocalBoxCluster.ps1
Due: .azure-pipelines/azure_jumpstart_localbox.yml

Increase default timeout for cluster deployment from 4 hours to 8 hours and update bginfo executable reference
  azure_jumpstart_localbox/artifacts/PowerShell/tests/Invoke-Test.ps1
Due: .azure-pipelines/azure_jumpstart_localbox.yml

Update VHD download links for AzLocal2601 to use new storage paths
  azure_jumpstart_localbox/artifacts/PowerShell/New-LocalBoxCluster.ps1
Due: .azure-pipelines/azure_jumpstart_localbox.yml

Add Az.StackHCI module to the bootstrap script for installation
  azure_jumpstart_localbox/artifacts/PowerShell/Bootstrap.ps1
Due: .azure-pipelines/azure_jumpstart_localbox.yml

Increase deployment timeout to 8 hours in Wait-AzDeployment and Wait-AzLocalClusterConnectivity functions
  azure_jumpstart_localbox/artifacts/PowerShell/integration_tests/scripts/Send-PesterResult.ps1
Due: .azure-pipelines/azure_jumpstart_localbox.yml

Modify parameters in main.bicepparam
  azure_jumpstart_localbox/bicep/main.bicepparam
Due: .azure-pipelines/azure_jumpstart_localbox.yml

feb release vBumps
  arc_data_services/charts/arcdataservices/templates/role-bootstrapper.yaml
  arc_data_services/charts/arcdataservices/values.yaml
  arc_data_services/deploy/scripts/pull-and-push-arc-data-services-images-to-private-registry.py
  arc_data_services/deploy/yaml/bootstrapper-unified.yaml
  arc_data_services/deploy/yaml/bootstrapper.yaml
  arc_data_services/deploy/yaml/data-controller.yaml
  arc_data_services/deploy/yaml/uninstall.yaml
  arc_data_services/test/launcher/base/kustomization.yaml
  arc_data_services/upgrade/yaml/bootstrapper-upgrade-job.yaml
  arc_data_services/upgrade/yaml/data-controller-upgrade.yaml
  arc_data_services/upgrade/yaml/request_body/request-body-after.yaml
  arc_data_services/upgrade/yaml/request_body/request-body-before.yaml
  archive/azure_arc_data_jumpstart/kubeadm/azure/ARM/artifacts/DataServicesLogonScript.ps1
  archive/azure_arc_data_jumpstart/microk8s/azure/arm_template/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/aks/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/aks/DR/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/aks/Migration/ARM/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/eks/terraform/artifacts/DataServicesLogonScript.ps1
  azure_arc_data_jumpstart/gke/terraform/artifacts/DataServicesLogonScript.ps1
  azure_jumpstart_arcbox/artifacts/DataOpsLogonScript.ps1
Due: .azure-pipelines/azure_jumpstart_arcbox.yml, .azure-pipelines/azure_jumpstart_arcbox_devops.yml, .azure-pipelines/azure_jumpstart_arcbox_itpro.yml, azure-pipelines.yml

Update windowsAdminUsername and templateBaseUrl values
  azure_arc_ml_jumpstart/aks/arm_template/azuredeploy.parameters.json
Due: none

fix(localbox): improve deployment reliability — VHDX copy, VM verification, task trigger, RP polling, SYSTEM context
  azure_jumpstart_localbox/artifacts/PowerShell/Bootstrap.ps1
  azure_jumpstart_localbox/artifacts/PowerShell/LocalBoxLogonScript.ps1
  azure_jumpstart_localbox/artifacts/PowerShell/New-LocalBoxCluster.ps1
Due: .azure-pipelines/azure_jumpstart_localbox.yml

fix(localbox): update VHDX file references to AzLocal2604 for improved deployment
  azure_jumpstart_localbox/artifacts/PowerShell/New-LocalBoxCluster.ps1
Due: .azure-pipelines/azure_jumpstart_localbox.yml

fix(localbox): implement temporary fix for ParentDiskPath in LocalBox module
  azure_jumpstart_localbox/artifacts/PowerShell/WinGet.ps1
Due: .azure-pipelines/azure_jumpstart_localbox.yml

Fix package ID for Azure Data Studio in YAML
  azure_jumpstart_localbox/artifacts/PowerShell/dsc/packages.dsc.yml
Due: .azure-pipelines/azure_jumpstart_localbox.yml

Pin GitHub Actions to full-length commit SHAs
  .github/dependabot.yml
  .github/workflows/manual-arcBox-execution-with-parameters.yaml
  .github/workflows/stale-branches.yml
Due: none

Update main.bicepparam
  azure_jumpstart_localbox/bicep/main.bicepparam
Due: .azure-pipelines/azure_jumpstart_localbox.yml

fix(localbox): update VHDX file references to AzLocal2608 for improved deployment
  azure_jumpstart_localbox/artifacts/PowerShell/New-LocalBoxCluster.ps1
Due: .azure-pipelines/azure_jumpstart_localbox.yml

fix(localbox): enable adapter property override and disable network direct
  azure_jumpstart_localbox/artifacts/azlocal.parameters.json
Due: .azure-pipelines/azure_jumpstart_localbox.yml

fix(localbox): update pipeline-schedule
  .azure-pipelines/azure_jumpstart_localbox.yml
Due: none

fix(localbox): add PR trigger for azure_jumpstart_localbox path
  .azure-pipelines/azure_jumpstart_localbox.yml
Due: none

Update LocalBox to use image version 2608 (#3521)
  .azure-pipelines/azure_jumpstart_localbox.yml
  azure_jumpstart_localbox/artifacts/PowerShell/New-LocalBoxCluster.ps1
  azure_jumpstart_localbox/artifacts/azlocal.parameters.json
Due: .azure-pipelines/azure_jumpstart_localbox.yml

fix: remove pinned version for WinGet modules installation
  azure_jumpstart_ag/artifacts/PowerShell/Winget.ps1
  azure_jumpstart_arcbox/artifacts/WinGet.ps1
  azure_jumpstart_localbox/artifacts/PowerShell/WinGet.ps1
Due: .azure-pipelines/azure_jumpstart_arcbox.yml, .azure-pipelines/azure_jumpstart_arcbox_devops.yml, .azure-pipelines/azure_jumpstart_arcbox_itpro.yml, .azure-pipelines/azure_jumpstart_localbox.yml, azure-pipelines.yml

WinGet update (#3555)
  azure_jumpstart_ag/artifacts/PowerShell/Winget.ps1
  azure_jumpstart_arcbox/artifacts/WinGet.ps1
  azure_jumpstart_localbox/artifacts/PowerShell/WinGet.ps1
Due: .azure-pipelines/azure_jumpstart_arcbox.yml, .azure-pipelines/azure_jumpstart_arcbox_devops.yml, .azure-pipelines/azure_jumpstart_arcbox_itpro.yml, .azure-pipelines/azure_jumpstart_localbox.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/azure_jumpstart_arcbox.yml: any of: azure_jumpstart_arcbox
  .azure-pipelines/azure_jumpstart_arcbox_devops.yml: any of: azure_jumpstart_arcbox
  .azure-pipelines/azure_jumpstart_arcbox_itpro.yml: any of: azure_jumpstart_arcbox
  .azure-pipelines/azure_jumpstart_localbox.yml: any of: azure_jumpstart_localbox
  azure-pipelines.yml: any of: azure_jumpstart_arcbox
